html, body{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 0;
    text-align: center;
}
h2{
    text-align: center;
    font-style: italic;
    color: gray;
    margin-bottom: 0;
}
#reset{
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    margin: 0 auto;
    display: grid;
    visibility: hidden;
    border-radius: 5px;
}
#reset:hover{
    box-shadow: 1px 1px 2px black;
    background-color:hsla(0, 0%, 77%, 1);
}
body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
#grid{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 50px auto;
    height: 600px;
    width: 600px;
    border: 2px solid gray;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cell{
    animation: fade-out 2s ease-in;
    animation-fill-mode: forwards;
    background-color: black;
}
#grid-size{
    display: block;
    margin: 20px auto;
    width: 500px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}
@keyframes fade-out{
    0% {
        opacity: 1;
    }
    100% {
       opacity: 0; 
    }
}
@keyframes pop-in{
    /*This being necessary is fucking retarded and makes no sense, but it definitely is.
    Like FFS it's an empty animation, it does literally nothing */
}
.cell:hover{
    animation: pop-in;
}

.big-cell{
    background-color: black;
    opacity: 0;
}